<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Diaries</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/notification.css">
</head>

<body>
    <div class="nav-head">
        <nav class="navbar">
            <h4 class="logo">Campus Diaries</h4>
        </nav>
    </div>
    <div class="container home">

        <div class="sidebar">
            <div class="icon" id="home"><a href="/home"><i class="fa-solid fa-house"></i><span>Feed</span></a></div>
            <div class="icon" id="search"><a href="/search"><i
                        class="fa-solid fa-magnifying-glass"></i><span>Search</span></a></div>
            <div class="icon" id="notification"><a href="/notification"><i
                        class="fa-solid fa-bell"></i><Span>Notification</Span></a></div>
            <div class="icon" id="profile"><a href="/profile"><i class="fa-solid fa-user"></i>Profile</a></div>
        </div>

        <div class="home1">
            <div class="topbar">
                <span>
                    <h4>Notification</h4>
                </span>
            </div>
            <div class="sub-container">
                <% posts.reverse().forEach(function(elem){ %>
                    <div class="noti">
                        <div class="profile">
                            <img class="profile-icon" src="/images/uploads/<%= elem.user.profileimage %>" alt="">
                        </div>
                        <div class="containt">
                            <span><span id="username">
                                    <%= elem.user.username %>
                                </span>
                                <p>
                                    <%= elem.text %>
                                </p>
                            </span>
                            <div class="post">
                                <img src="/images/uploads/<%= elem.image %>" alt="">
                            </div>
                        </div>
                    </div>
                    <% })%>

            </div>
        </div>
    </div>
    <div class="gap">

    </div>


    <script src="https://kit.fontawesome.com/6e372c982e.js" crossorigin="anonymous"></script>

</body>

</html>